
body{
	
	background-color:white;
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style-type:none;
	padding:0;
}
img{

	width: 100%;
}

a>img{

	width: auto;
	vertical-align: middle;
}
.wrap{
	position: relative;

	// >*{
	// 	border:thin red solid;

	// 	>*{
	// 		border:thin green solid;

	// 		>*{
	// 			border:thin blue solid;

	// 			>*{
	// 				border:thin red solid;
	// 			}
	// 		}
	// 	}
	// }
}
h2{
	line-height: 1.5;
}

p,a{
	font-size: 0.9rem;
}
// nav
nav{

	position: absolute;
	width: 100%;
	top:0;
	left:0;
	padding:1em 0;
	z-index: 40;

	&>div{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: center;
		// border:1px green solid;
		width:90%;
		margin:auto;
		
	}
	

	.logo{
		flex:0 0 20%;
		max-width: 8em;
		// position: relative;
		// z-index: 100;
		img{
			display: block;
			max-width: 100%;
		}
	}

	.nav-control,.fa-bars{
		font-size: 1.5rem;
		color:white;
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

	}
	
	.nav-container{
		flex: 0 0 100%;
	}
	.nav{
		
		// display: none;
		margin-top:1em;
		
	}

	.nav-link{
		color:white;
		text-decoration: none;
		line-height: 200%;
		text-align: center;
		display: block;
		font-size: 1.2rem;
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	}

	
}

.nav2{
	position: fixed;
	background-color:white;
	position: fixed;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	z-index: 39;
	padding: 0.5em 0;
	transition: transform ease 0.5s;
	transform: translateY(-110%);

	.nav-control,.fa-bars{
		color:black;
		text-shadow: none;
	}
	.logo{
		max-width: 5em;
	}

	&.sticky{
		
		transform: translateY(0);
	}

	.nav-link{
		color:black;
		text-shadow: none;

	}

}


.intro-video{
	position: relative;

	.intro-video-play{
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width: auto;
		height: auto;
	}
}

//social media
.social-media{

	display: flex;
	justify-content: center;
	
	a{
		display: block;
		margin:0 0.25em;
		img{
			display: block;
		}
	}

}

//hero-wrap
.hero-wrap{

	min-height: 100vh;
	// background-image:url(../assets/stock1.jpg);
	background-size:cover;
	background-position: center;
}


//blog-hero-wrap
.blog-hero-wrap{
	height: 75vw;
	max-height: 80vh;
	background-size:cover;
	background-position: center 25%;


}

.products{
	
	padding: 1em 0 1em 0;
	// border: thin red solid;
	&>div{
		display: grid;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
		width:90%;
		margin:auto;
	}

	.product:nth-child(3){
		order:-1;
	}

	.product:nth-child(7), .product:nth-child(8){
		order:1;
	}
}
.product{
	background-image: linear-gradient(to bottom left, #eee, #aaa);
	display: flex;
	padding: 1em 1em 1em 0;
	border-radius: 0.2em;
	&>div:first-child{
		flex: 0 0 40%;
		display: flex;
		align-items: center;
		&>img{
			max-width: 100%;
			display: block;
			width: auto;
			max-height: 20em;
			margin:auto;
		}
	}

	&>div:last-child{
		flex: 0 0 60%;
		display: flex;
		flex-direction:column;
		justify-content: center;
	
	}

	.product-name{
		font-size:1rem;
		width:100%;
		// flex: 1 0 auto;
	}

	.product-description{
		font-size: 0.9em;
		width:100%;
		margin:1em 0;
	}
	.action-link, .action-link:hover{
		text-align: left;
	}
}

.products-intro{
	// background-color: rgba($color: #000000, $alpha: 0.5);
	background-image: url(../assets/stock1.jpg);
	background-size: cover;
	background-position: center;
	height: 50vw;
}	

.product-retailers{
	display: flex;



	&>div:first-child{
		flex: 0 0 40%;
		display: flex;
		align-items: center;
		>img{
			max-width: 100%;
			display: block;
			width: auto;
			// max-height: 20em;
			margin:auto;
		}
	}

	&>div:last-child{
		flex: 0 0 60%;
		background-color:#0E6C53;
		border-radius: 0.2em;
	}

	.stores{
		text-align: center;
		position: relative;
		.section-intro {
			color: white;
			font-size: 1.2rem;
			margin: 1.5rem 1rem;
		}
		li{
	
			margin:1.5rem 1em;
			
		}
		a{
			// display: block;
		
		}
		img{
			max-width: 100%;
		}
	}
}

.modal-content{
	position: relative;
	.modal-dismiss{
		position: absolute;
		top:-0.7em;
		right:-0.7em;
		z-index: 50;
	}
}

//av modal
.avModal{
	video{
		width: 100%;
		display: block;;
	}
}

//blog page

.article{
	>div{
		padding:3em 0;
		width:90%;
		margin:auto;
		.article-main{
			h2{
				margin:2rem 0;
			}
			a{
				color: #0E6C53;
			}
		}

		.section-intro{
			font-size: 1.2rem;
			margin:2rem 0;
			
		}
		.product-placement{
			display:grid;
			grid-template-columns: auto;
			row-gap: 1em;
		}
	}
}

.stockists{
	padding:1em 0;

	&>div{
		// padding:1em;
		width: 90%;
		margin:auto;
		padding:3em 0;
	}
	
	.section-intro{
		// color:white;
		font-size: 1.2rem;
		

	}

	ul{
		margin-top:3em;
		display: grid;
		grid-template-columns: auto auto;
		row-gap: 2em;
		column-gap: 1em;
		
		

		li{
			
			// box-sizing: border-box;
			text-align: center;
			
		}
	}
	.stockist-name{
		background-color:#0E6C53;
		display: block;
		padding-top:50%;
		position: relative;
		border-radius: 0.2em;
		margin-bottom:1em;
		img{
			display: block;
			position: absolute;
			max-width: 80%;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);

		}
	}

	.action-link,.action-link:hover{
		text-align: left;
	}


}


//footer
.retailers{
	padding:1em 0;
	// background-image: url(../assets/background_colourband_bar.png);
	background-image: linear-gradient(105deg, #15241E 25%,#219194 55%,#219194 65%,#1E4F78 90%);
	background-size:100% 100%;
	&>div{
		// padding:1em;
		width: 90%;
		margin:auto;
	}


	.section-intro{
		color:white;
		font-size: 1.2rem;
	}
	ul{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-items: center;
		margin:0;

	}
	li{
		padding:1em 0;
		flex:0 0 30%;
	}

	a{
		display: block;
	}
	img{
		display: block;
		max-width: 100%;
	}
}

.footer-info{
	background-color:#393D43;
	padding:1em 0;
	&>div{
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		// padding:1em;
		width: 90%;
		margin:auto;
	}
	.logo{
		flex: 0 0 10em;
		margin-bottom: 1em;
		img{
			display: block;
			max-width: 100%;
		}
	}

	.about{
		flex: 0 0 100%;
		color:white;
		text-align: center;
		p{
			margin:0;
			&:first-child{
				font-weight: 500;
			}

			&.gap,&:last-child {
				margin-bottom:1rem;
			}

		}
	}

	.social-media{
		flex: 0 0 auto;
	}
}

//components
.text-group-1{

	&>div{
		padding:6vw 4vw;
	}
}

.action-link, .action-link:hover{
	color:black;
	text-decoration:none; 
	display: block;
	text-align: right;
	font-size: 1rem;
}

//av section
.av-wrap{
	position: relative;
	overflow: hidden;
	object-fit: cover;
	.av-content-full{
		position: absolute;
		// min-width: 100%;
		// min-height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
	}
	.desktop{
		display: none;
	}
	.mobile{
		height: 100%;
		width: 56vh; /* 100 * 16 / 9 */
		min-width: 100%;
		min-height: 177vw; /* 100 * 9 / 16 */
	}
}


//swiper
.product-shots{
	position: relative;
	&>img{
		opacity: 0;
	}
}
:root {
    --swiper-theme-color:  #0E6C53;
}
.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top:0;
	left:0;
  }
  .swiper-slide {
	background-size:cover;
	background-position: center 30%;
	overflow: hidden;
	img{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
	}

  }


@media only screen and (min-width: 40em){

	nav{
		// padding:1em 2em;
	}

	.av-wrap{
		.desktop{
			display: block;
			height: 100%;
			width: 178vh; /* 100 * 16 / 9 */
			min-width: 100%;
			min-height: 56vw; /* 100 * 9 / 16 */
		}
		.mobile{
			display: none;
		}
	}


	.products{
		padding: 1em 0 1em 0;
		&>div{
			// border:1px green solid;
			grid-template-columns: auto auto;
		}

		.product{

			&>div:last-child{

				// justify-content: space-between;
			
			}


		}


		.product:nth-child(3), .product:nth-child(4), .product:nth-child(9){
			grid-column-end: span 2;
		}

	}

	//blog page
	.article{
		&>div{
		
			.article-main{
				
			}
			.product-placement{
				grid-template-columns: auto auto;
				column-gap: 1em;

				.product:last-child{
					grid-column-end: span 2;
				}
			}
		}
	}


	.stockists{
		ul{
			grid-template-columns: auto auto auto;
	
			li{
				
			}
		}
	}


	.retailers{
		// padding:1em 0;
	}
	.footer-info{
		// padding:1em 2em;
		&>div{
			justify-content: space-between;
			align-items: center;
			
		}
		.logo{
			flex: 0 0 10em;
			margin-bottom:0;

		}
	
		.about{
			flex: 1 0 20%;
			max-width: 40em;
			padding:0 1em;
	
		}
	
		.social-media{
			flex: 0 0 auto;
			margin-bottom:0;
		}
	}
}

@media only screen and (max-width: 55em){
	nav{
		.nav-container{
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color:rgba($color: #000000, $alpha: 0.7);
			top:0;
			left:0;
			z-index: 90;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			pointer-events: none;
			opacity: 0;
			transition: opacity ease 0.5s;

		}
		.nav{
			flex: 0 0 100%;
		}
	}
	.expanded{

		.nav-container{
			opacity: 1;
			pointer-events: auto;

		}
	}
	.nav2{
		.nav-container{
			display: none;
		}
	}


}
@media only screen and (min-width: 55em){
	nav{

		.nav-container{
			display: flex;
			flex: 1 0 auto;
		}
		.nav{
			// display: block;
			flex: 0 0 auto;
			display: flex;
		}
		

		// .nav-link{
		// 	color:black;
		// }
		.fa-bars{
			display: none;
		}

		.main{
			flex: 1 0 auto;
			margin-left: 1em;
			li{
				padding: 0 1em;
			}
		}
	}
	.nav2{
		padding: 0;
	}


	.intro,.product-range,.blog-item{
		display: flex;
		&>div{
			flex: 0 0 50%;
			position: relative;
		
		}

		&>:first-child{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.text-group-1{
			max-width: 40em;
		
		}
		.action-link{
			position: absolute;
			bottom:3vw;
			right: 3vw;
		
		}
	
	}

	.product-range{
		&>:first-child{
			order:1;
		}
	}	

	.stockists{
		ul{
			column-gap:10%;
			li{
				// flex: 0 0 33.333%;
			}
		}
	}
	

}

@media only screen and (min-width: 60em){

	.retailers{

		ul{
			flex-wrap:nowrap;	
		}

		li{
			flex:1 1 auto;
			padding-right:2em;
		}
		li:last-child{
			padding-right:0;
		}
	}

		//blog page
		.article{
			&>div{
			
			
				.article-main{
			
				}
				.product-placement{
					
					
					grid-template-columns: auto auto auto;

					.product:last-child{
						grid-column-end: span 1;
					}
				}
			}
		}
	

}

@media only screen and (min-width: 80em){
	nav>div{
		max-width: 80em;
		margin:auto;
	}

	.products{

		
		&>div{
			max-width: 80em;
			margin:auto;
	
			grid-template-columns: auto auto auto auto;
		}

		.product:nth-child(3){
			order:0;
		}
		.product:nth-child(7), .product:nth-child(8){
			order:0;
		}

	}

	//blog page
	.article{
		&>div{
			max-width: 80em;
			margin:auto;
			display: flex;
			.article-main{
				flex: 1 0 50%;
				margin-right: 2em;
			}
			.product-placement-container{
				flex: 0 0 30%;
			}
			.product-placement{
				
				grid-template-columns: auto;

				.product:last-child{
					grid-column-end: span 1;
				}
			}
		}
	}

	
	.stockists{
		ul{
			grid-template-columns: auto auto auto auto auto auto;
			column-gap: 1em;
			li{
				// flex: 0 0 33.333%;
			}
		}
	}

	
	.stockists>div{
		// padding:1em 0;
		max-width: 80em;
		margin:auto;
	}


	.retailers>div{
		// padding:1em 0;
		max-width: 80em;
		margin:auto;
	}
	.footer-info>div{
		max-width: 80em;
		margin:auto;
		padding:1em 0;
	}


 
}

