body{
	background-color:#ccc;
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style-type:none;
	padding:0;
}
img{
	display: block;
	width: 100%;
}

.wrap{
	position: relative;
}

// nav
nav{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	border:1px green solid;
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	padding:1em;
	

	.logo{
		flex:0 0 20%;
		max-width: 10em;
		img{
			display: block;
			max-width: 100%;
		}
	}

	.fa-bars{}
	
	.nav{
		flex: 0 0 100%;
		display: none;
		margin-top:1em;
		
	}

	.nav-link{
		color:white;
		text-decoration: none;
		line-height: 2em;
		text-align: center;
		display: block;
	}

	.social-media{
		display: flex;
		justify-content: center;
		display: none;
	}

	&.expanded{
		position: fixed;
		height: 100vh;
		background-color:rgba($color: #000000, $alpha: 0.7);
		.nav{
			display: block;
		}
		.social-media{
			display: flex;
		}

	}
}


//social media
.social-media{
	a{
		display: block;
		margin:0 0.25em;
		img{
			display: block;
		}
	}

}

//hero-wrap
.hero-wrap{
	border:1px red solid;
	min-height: 100vh;
	background-image:url(../assets/stock1.jpg);
	background-size:cover;
	background-position: center;
}

//intro
.intro{}

//footer

.retailers{
	padding:1em;
	// background-image: url(../assets/background_colourband_bar.png);
	background-image: linear-gradient(105deg, #15241E 25%,#219194 55%,#219194 65%,#1E4F78 90%);
	background-size:100% 100%;
	

	h1{
		color:white;
	}
	ul{
		// border:1px red solid;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-items: center;

	}
	li{
		// border:1px blue solid;
		margin:0.5em;
		flex:1 0 40%;
		
	}

	a{
		display: block;

	}
	img{
		// margin:auto;
		display: block;
		max-width: 100%;
		// margin:auto;
	}
}


.footer-info{
	background-color:#393D43;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;

	.logo{
		flex: 0 0 10em;
		img{
			display: block;
			max-width: 100%;
		}
		
	}

	.about{
		flex: 0 0 100%;
	}

	.social-media{
		flex: 0 0 auto;
	}
}

//components
.text-group-1{

	&>div{
		margin:2em 1em;
	}
}

@media only screen and (min-width: 40em){


	//components
	.box3-2{
		position: relative;
		&:after{
			content: '';
			display: block;
			padding-top: 66.666%;
			
		}
		&>div{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			border:thin red solid;
		}
		
	}

	.text-group-1{
		display: flex;
		justify-content: center;
		align-items: center;
		&>div{
			flex: 0 0 100%;
			max-width: 20em;
		}
	}




	.retailers{

		li{
		
			flex:1 0 30%;
			
		}
	}
 
}



@media only screen and (min-width: 70em){

	.retailers{

		ul{
		
			flex-wrap:nowrap;
			

		}

		li{
		
			flex:1 1 auto;
			
		}
	}
 
}
